stages:
  - build
  - test

variables:
  GO_VERSION: "1.25.4"
  GOFLAGS: "-mod=readonly"

image: golang:${GO_VERSION}

before_script:
  - go version
  - go mod tidy
  - go mod download

build:
  stage: build
  script:
    - echo "Building project..."
    - go build -v ./...
  artifacts:
    paths:
      - go.mod
      - go.sum

test:
  stage: test
  script:
    - echo "Running tests..."
    - go test -v ./...