services:
  moonbeam:
    build: ../moonbeam
    ports:
      - "8080:8080"
    networks:
      - monitor
  starlight:
    build: ../starlight
    ports:
      - "8090:8090"
    networks:
      - monitor
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - monitor
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    networks:
      - monitor

networks:
  monitor:
