name: devops-lab
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: moonbeam

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.3
      - run: go mod tidy
      - run: go fmt ./...
      - run: go vet ./...
      - run: go test -v -race ./...
      - run: go build -o moonbeam-service .
